{% extends "diary/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    しんきさくせい
{% endblock title %}

{% block page_title %}
    {% comment %} <h2 class="justify-content-md-center text-center">日記メニュー</h2> {% endcomment %}
{% endblock page_title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'diary/css/calendar.css' %}" type="text/css" >
    <link rel="stylesheet" href="{% static 'diary/css/flip.css' %}" type="text/css" >
    <link rel="stylesheet" href="{% static 'diary/css/diary_edit.css' %}" type="text/css" >
{% endblock extra_css %}

{% block content %}
    <div class="container-calendar">
        <div class="justify-content-md-center text-center"> 
            <div class="container-fluid">
                <div class="row my-md-3 my-2">
                    <h2 class="calendarTitle"></h2>
                    <div id="mycalendar"></div>
                </div>
            </div>
        </div>
        <!-- モーダルウィンドウのHTML -->
        <div class="modal fade" id="diaryModal" tabindex="-1" aria-labelledby="diaryModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="flip h-100">
                    <div class="position-relative">
                        <div class="modal-content flip-front">
                            <div class="modal-header">
                                <h5 class="modal-title"></h5>
                                <div class="ms-auto btn-group">
                                    <button type="button" class="icon-in-button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-pencil-square text-muted"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><button class="dropdown-item button-to-edit" data-edit-content="comment">コメント編集</button></li>
                                        <li><button class="dropdown-item button-to-edit" data-edit-content="thumbnail">サムネイルを変更</button></li>
                                        {% comment %} <li><button class="dropdown-item button-to-edit" data-edit-content="locations">場所の変更・削除</button></li> {% endcomment %}
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item text-danger" href="#">削除</a></li>
                                    </ul>
                                </div>
                                <button type="button" class="btn-close ms-1" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="diary-content text-center"></div>
                            </div>
                        </div>
                        <div class="modal-content flip-back">
                            <div class="modal-header">
                                <h5 class="modal-title"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body h-100">
                                <form method="post" id="id_diary-form" action="{% url 'diary:diary_edit_noPK' %}">
                                    {% csrf_token %}
                                    <div id="diary-form-hidden" style="display:none;">
                                        {% for field in diary %}
                                            {{ field }}
                                        {% endfor %}
                                    </div>
                                    <div class="diary-edit-container text-center">
                                        <div class="diary-comment-field mb-3" data-edit-content="comment"></div>
                                        <div class="rotate-buttons" data-edit-content="thumbnail">
                                            <button type="button" id="rotateLeftButton" class="btn btn-primary">左回転</button>
                                            <button type="button" id="rotateRightButton" class="btn btn-primary">右回転</button>
                                        </div>
                                        <div class="diary-thumbnail-field mx-auto" data-edit-content="thumbnail">
                                            <canvas id="diaryImageCanvas" class="diary-image"></canvas>
                                        </div>
                                        {% comment %} 
                                        <div class="diary-thumbnail-field mx-auto" data-edit-content="thumbnail">
                                            <img class="diary-image" loading="lazy">
                                            <button type="button" class="diary-img-rotate-button icon-in-button mb-auto mx-0">
                                                <i class="icon-rotate"></i>
                                            </button>
                                        </div> 
                                        {% endcomment %}
                                        <div id="diary-locations-management-field">{{ diary.formset.management_form }}</div>
                                        <div class="diary-locations-field mt-3" data-edit-content="thumbnail"></div>
                                    </div>
                                    <div class="diary-edit-buttons-field row mt-3">
                                        <button type="button" class="btn btn-outline-secondary button-cancel col mx-3">Cancel</button>
                                        <button type="submit" class="btn btn-primary button-OK col mx-3">OK</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="empty-form-locations" style="display:none;">
        <div class="diary-location-item">
            <input type="hidden" class="location-img-url" name="location">
            <div class="location-form-hidden" style="display:none;">
                {% for field in diary.formset.empty_form %}
                    {{ field }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'diary/js/getCookie.js' %}"></script>
    <script src="{% static 'diary/js/pagination.js' %}"></script>
    <script src="{% static 'diary/js/loading_overlay.js' %}"></script>
    <script src="{% static 'diary/js/check_input.js' %}"></script>
    {% comment %} fullカレンダー {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
    <script>
        const url_sendDiaries = "{% url 'diary:sendDiaries' %}";
    </script>
    <script src="{% static 'diary/js/calendar.js' %}"></script>

{% endblock %}